@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$light: #fff;
$dark: #10131c;
$header-color: #192140;
$log-in-btn-color: #0266ff;
$blog-txt-color: #dcf10d;
$card-background-color: #f8f9fc;
$light-text-color: #9D9DB5;
$footer-accent: #d7f8ff;
